/* This is shared style */
* {
  margin: 0;
  padding: 0;
}
.red-text {
  color: red;
}
.bg-primary {
  background-color: #ff0000;
  color: #fff;
}

/* This is navbar */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(172, 166, 166, 0.5);
  padding: 10px;
}
.nav-menus {
  display: flex;
  gap: 55px;
}
.nav-container li {
  list-style: none;
}
.nav-container li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
/* this is banner section */
.banner-container {
  height: 100vh;
  background-image: url(./asset/image/background.jpg),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-heading {
  font-size: 90px;
  font-weight: bold;
  color: #fff;
}

.banner-text {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  padding: 20px 0;
}
.btn {
  font-size: 25px;
  padding: 10px 20px;
  margin: 0 15px;
  border-radius: 10px;
  box-shadow: #000;
  cursor: pointer;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(243, 237, 237, 0.3),
    0 6px 20px 0 rgba(245, 240, 240, 0.5);
}
.service-heading {
  font-size: 40px;
  color: rgb(190, 207, 208);
}

.service-container {
  background-image: url(./asset/image/footer-bg.png),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  height: 100vh;
  padding: 80px;
  display: flex;
  gap: 50px;
}
.service-icon {
  display: flex;
}
.service-btn {
  background-color: #fff;
  border-radius: 25px;
  margin: 25px 0;
  box-shadow: none;
}
.service-logo {
  width: 100px;
}
.service-info {
  font-size: 40px;
  font-weight: bold;
  color: rgb(190, 207, 208);
}
.service-info {
  width: 75%;
  font-size: 20px;
  margin: 20px 0;
  color: rgb(190, 207, 208);
}
.service-item {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.author-container {
  display: flex;
  gap: 80px;
  margin-top: 30px;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 2px solid red;
  padding-right: 80px;
}
.author-img {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}
/* This is Appointment section   */
.appointment-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: red;
  width: 75%;
  margin: auto;
  padding: 10px;
  margin-top: -95px;
  border-radius: 10px;
}
.phone-icon {
  width: 100px;
  padding: 15px;
}
.phone-call {
  display: flex;
  align-items: center;
  border-right: 2px solid white;
  padding: 10px;
}
.appiontment-info {
  font-size: 20px;
  text-align: justify;
}
.appointment-btn {
  font-size: 15px;
  padding: 35px 25px;
  border-radius: 30px;
}
/* This is Blog section */
.blog-title {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
.blog-description {
  font-size: 22px;
  width: 33%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.card {
  width: 380px;
  height: 440px;
  background: white;
  box-shadow: 4px 4px 8px gray;
  border-radius: 10px;
}
.card-img {
  width: 100%;
}
.card-text {
  padding: 20px;
}
.card-title {
  text-align: left;
  font-weight: bold;
  font-size: 25px;
}
.card-desc{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 530;
}
/* This is footer section */
footer{
    width: 100%;
    height: 70vh;
    background-image: url(./asset/image/footer-bg.png),linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding-top: 100px;
}
.footer-container{
    width: 75%;
    height: 60vh;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    gap:50px;
    /* padding-top: 100px; */
    line-height: 2em;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}
.logo-box{
    width: 25%;
}
.footer-title{
    padding-bottom: 20px;
}
.footer-container li {
    list-style: none;
}
.footer-container li a{
    text-decoration: none;
    color: #fff;
}
.f-icons i{
    padding-right: 10px;
}
.copy{
    text-align: center;
    padding: 15px;
    color: #fff;
}
